// Base styles
body {
  background-color: #333;
  font-family: monospace;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}